.background    { background-image: url("https://cdn.pixabay.com/photo/2014/03/31/23/54/the-background-302320_960_720.png");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.acid          { background: lightgreen; }
.wall          { background: grey;   }
.portal        { background: white;   }

.actor  { position: absolute;  }
.key   { background: rgb(200, 135, 70); }
.player { background-image: url("https://www.lovepotatoes.co.uk/favicon.ico");
         }

.boost { background: rgb(240, 100, 110); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(170, 160, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
